<div id="fullpage">
	<div class="section home-section">
		<div id="video" data-vide-bg="img/video/background">
			<h1 class="home-section__heading">Меня зовут Женя Грищенко</h1>
			<span class="home-section__text">Я фронтенд разработчик</span>
			<div class="home-section__scroll-div"><span class="home-section__scroll-text">МОЕ ПОРТФОЛИО</span></div>
		</div>
	</div>
	<div class="section portfolio-section">
		<div class="slide">
			<div class="container">
				<div class="row portfolio-section__website-list">
					<div class="col-12">
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/Storonnim-V/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/agnecy/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/piroll/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/e_shop/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/cahee-js/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/akad/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="container">
				<div class="row portfolio-section__website-list">
					<div class="col-12">
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/google-maps/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/ajax-js/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/tabs-js/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/our-team-slider/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/slider-js/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/blog-grid/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="container">
				<div class="row portfolio-section__website-list">
					<div class="col-12">
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/cup-plans/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/pricing/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/nike-product-card-dark/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/forms-daily-paymanent/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/lesson_8_foliac/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/exam/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="container">
				<div class="row portfolio-section__website-list">
					<div class="col-12">
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/design_lab/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/productman/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/huge-search/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/checkers-js/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/css-weather-forecast/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/css-dinner-shopping-list/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="container">
				<div class="row portfolio-section__website-list">
					<div class="col-12">
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="https://genyaevgeney.github.io/css-animation/app/" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="#" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="#" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-4 portfolio-section__link-wrap">
								<a href="#" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="#" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
							<div class="col-4 portfolio-section__link-wrap">
								<a href="#" target="_blank" class="portfolio-section__link">
									<div class="portfolio-section__img"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>