$main-color:#57FFFF;
$contrast-color:#FFA357;
$green-color:#57FF57;
$blue-color:#6996FF;
$yellow-color:#FFFF01;

@font-face {
  font-family: 'Centar-Sans-Regular'; //!!!
  src: url('../fonts/Centar-Sans/XXII Centar Regular/XXIICentarRegular.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {//
  font-family: 'Rounds-Black'; //!!!
  src: url('../fonts/Rounds-Black/Rounds-Black.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {//
  font-family: 'Marske'; //!!!
  src: url('../fonts/Marske/Marske.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face { ///
  font-family: 'Sprite-Graffiti';
  src: url('../fonts/Sprite-Graffiti/Sprite-Graffiti.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Sprite-Graffiti-Shadow';
  src: url('../fonts/Sprite-Graffiti/Sprite-Graffiti-Shadow.otf')  format('opentype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaBoldItalic'; //!!!
  src: url('../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot'), /* IE9 Compat Modes */
       url('../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'HelveticaMedium'; //!!!
  src: url('../fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot'), /* IE9 Compat Modes */
       url('../fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Helvetica/HelveticaMedium/HelveticaMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
