@import 'variables';
@import 'mixins';

@each $class,$image in $sections {
	.#{$class} {
		background-image: url("../img/#{$image}");
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	padding: 15px;
}

.first-screen {
	background-repeat: no-repeat;
	background-color: #0470bc;
	background-size: cover;
	color:$main-color;

	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		padding-top: 24%;
		// justify-content: center;
	}

	&__heading {
		margin-bottom: 52px;
	}

	&__form {
		margin-bottom: 120px;
	}

}

.container {
	width: 100%;
	max-width:1110px;
	margin: auto;
}



.heading__title {
	font-family: $secondary-font;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.heading__subtitle {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.31rem;
	font-family: $secondary-font;
}

.first-screen__scroll {
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.2rem;
	font-family: $secondary-font;
	font-weight: 400;
	position: relative;

	&::after{
		content: "";
		position: absolute;
		$size:12px;
		height: $size;
		width: $size;
		right:50%;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(45deg) translateX(50%);

	}
}

.first-screen__form {
	padding: 2px;
	display: flex;
	align-items: center;
	background-color:$main-color;
	width: 58.6%;
}

.form__text {
	font-family: $secondary-font;
	font-weight:400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.2rem;
	padding: 14px 0;
	width: 77.7%;
	text-align: center;
	border:none;
	color:#999999;
}

.form__button {
	font-family: $main-font;
	font-weight: 400;
	font-size:14px;
	line-height: 26px;
	padding: 14px 16px 14px 0;
	letter-spacing: 0.1rem;
	width: 22.3%;
	background-color: #5474fd;
	color:$main-color;
	border:none;
	position: relative;

	&::after {
		content: "";
		background:url("../img/search-icon.svg") no-repeat center;
		$size:20px;
		height: $size;
		width: $size;
		right: 15px;
		transform: translateY(16%);
		position: absolute;
	}
}

.choose {

	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;
	min-height: 100vh;

	.container-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 28px 0 32px 0;
	}

	&__header {
		background-color:#5474fd;
		margin-bottom: 120px;
	}

	&__logo {
		font-family: $secondary-font;
		font-weight:700;
		font-size: 24px;
		letter-spacing: 0.1rem;
		text-decoration:none;
		color:$main-color;

		display: block;
	}

	&__navlist {
		list-style: none;
		display: flex;
	}

	&__item {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-family: $main-font;
		font-weight:400;
		font-size: 14px;
		text-decoration:none;
		color:$main-color;
	}
	&__row {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		
	}

}

.container-main {
	display: flex;
	justify-content: space-between;
}

.description {

	width: 54%;
	padding-top: 85px;
	&__title {
		font-family: $main-font;
		font-weight:400;
		font-size: 36px;
		color:$main-color;
		margin-bottom: 66px;
	}

	&__text {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 16px;
		letter-spacing: 0.1rem;
		color:#e8e8e8;
		margin-bottom: 48px;
		line-height: 26px;
	}


	@include button(22px,36px,$main-color) {
		font-family: $main-font;
		font-weight:400;
		font-size: 16px;
		letter-spacing: 0.075rem;
		border: none;
		text-decoration:none;
	}
}

.photos {
	width: 40%;
	// padding-left: 94px;
	// display: flex;
	// flex-direction:column;
	// align-items: flex-end;
	
	@include padding-hack(49.6) {
		width: 78.9%;
	}

	.photo {
		
	}
	.photo-top {
		margin-bottom: 5px;
	}
	.photo-bottom {
		display: flex;
		justify-content: flex-end;
	}




}

.icons {
	background-color:#333333;

	.text {
		font-family: $main-font;
		font-weight:400;
		font-size: 36px;
		color:$main-color;
		line-height: 26px;
	}

	.container {
		max-width:980px;
		display: flex;
		padding: 98px 0;
		justify-content: space-between;

	}
	.dv{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.img{
			display: block;

			$size:58px;
			height: $size;
			width: $size;
			margin-bottom: 30px;
		}
	}

	.search {
		.img {
			background: url("../img/search.png") no-repeat center;
		}
	}

	.check {
		.img {
			background: url("../img/check.png") no-repeat center;
		}
	}

	.like {
		.img {
			background: url("../img/like.png") no-repeat center;
		}
	}
}

.travel-first {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;

	.subtitle {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 20px;
		color:$main-color;
		letter-spacing: 0.075rem;
		margin-bottom: 32px;
	}

	.title {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 20px;
		color:$main-color;
		margin-bottom: 30px;
	}

	.text {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 16px;
		line-height: 26px;
		color:$main-color;
		margin-bottom: 50px;
	}

	.description {
		width: 47%;
		padding: 50px 30px;
		display: inline-block;
		background: rgba(38, 36, 38, 0.9);
	}

	.button {
		padding: 22px 61.6px;
		display: inline-block; 

	}


	.container {
		min-height: 100vh;
		display: flex;
		align-items: flex-end;
		padding-bottom: 100px;
	}


}

.travel-last {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;

	.subtitle {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 20px;
		color:$main-color;
		letter-spacing: 0.075rem;
		margin-bottom: 32px;
	}

	.title {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 20px;
		color:$main-color;
		margin-bottom: 30px;
	}

	.text {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 16px;
		line-height: 26px;
		color:$main-color;
		margin-bottom: 50px;
	}

	.description {
		width: 47%;
		padding: 50px 30px;
		display: inline-block;
		background: rgba(38, 36, 38, 0.9);
	}

	.button {
		padding: 22px 61.6px;
		display: inline-block; 

	}


	.container {
		min-height: 100vh;
		display: flex;
		align-items: flex-end;
		padding-bottom: 100px;
		justify-content: flex-end;
	}


}


.testimonials {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;



	.description {
		width: 100%;
		display: flex;
		padding-top: 0;
	}

	@include padding-hack(25.6){
		width:40.1%;
	}

	.photo-text {
		width: 59.9%;
		padding: 50px 16px;
		background-color:#333333;
	}

	.subtitle {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 20px;
		color:$main-color;
		margin-bottom: 48px;
	}


	.title {
		font-family: $main-font;
		font-weight:400;
		font-size: 36px;
		color:$main-color;
		margin-bottom: 85px;
	}

	.text-quote {
		line-height: 0;
	}

	.text {
		font-family: $secondary-font;
		font-weight:400;
		font-size: 16px;
		line-height: 26px;
		color:$main-color;
	}

	.container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 120px;
	}


}

.footer {
	background-color: #232323;

	.container {
		padding: 120px 0 50px 0;
		max-width:163px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.title {
	font-family: $secondary-font;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.14rem;
	text-transform: uppercase;
	color:$main-color;
	margin-bottom: 15px;
}

.subtitle {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.3px;
	font-family: $secondary-font;
	color:$main-color;
}
}
// .button__img {
// 	background:url("../img/search.png");
// 	width: 10px;
// 		height: 10px;
// }