* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

html,body {
	min-height: 100vh;
}


body {
	font-size: 100%;
	background-color: #eeeeee;
    // background-color: green;
    font-family: 'Lato', sans-serif;
}



.container {
	max-width: 1212px;
	width: 100%;
	margin: auto;
	// background-color: yellow;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2.8125rem;
	// background-color: yellow;
	letter-spacing: 0.025rem;

	a {
		text-decoration: none;
		color:black;

		&:hover {
			color:#e10011;
		}
	}

	&__logo {
		font-family: 'Roboto',sans-serif;
		font-weight: 900;
		font-size: 3rem;
		
	}

	&__nav {

		.nav__list {

			margin-right: 2.3125rem;
		}

		> * {
			display: inline-block;

			.list__item{
				display: inline-block;
				font-family: 'Roboto',sans-serif;
				font-weight: 400;
				font-size: 1.125rem;
				text-transform:capitalize;
			}

			.list__item:first-child {
				margin-right: 2.875rem;
			}
		}
	}
}


.main {
	display: flex;
	padding-top:5.5rem;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	.sections {
		display: flex;
		.section-1 {
			width: 50%;
			text-align: right;
		// background-color: cyan;


		.section-1__h1 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			font-size: 9.375rem;
			text-transform: uppercase;
			line-height: 9.375rem;
			letter-spacing: 0.025rem;
			margin:0;
			


			span {
				margin-left:6.5625rem;
			}
		}

		.section-1__p {
			font-family: 'Roboto',sans-serif;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2.25rem;
			letter-spacing: 0.025rem;
			margin-top: 1.8125rem;
			margin-left: 2.625rem;
			margin-bottom: 0.9375rem;
			

		}

		.section-1__link {
			text-decoration: none;
			text-transform: capitalize;
			font-family: 'Roboto',sans-serif;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2.25rem;
			letter-spacing: 0.025rem;
			color:#e10011;	

			&:hover {
				opacity: 0.5;
				color:red;
			}
		}

	}

	.section-2 {
		width: 50%;

		img {
			display: block;
			margin:auto;
		}
		// margin-left: 7.3125rem;
	}

}

&__slider-nav {


	margin-top: 4.8125rem;
	.nav__list {
		list-style: none;
		display: inline-flex;	

		.list__item {
			margin-left: 10px;

			a {
				display: block;
				width:0.6875rem;
				height:0.6875rem;
				border-radius: 50%;
			}
		}

		.list__item:first-child {
			margin-left: 0;
			a {
				background-color: red;
			}
		}

		.list__item:nth-child(2) {
			a {
				background-color: black;
			}
		}

		.list__item:last-child {
			a {
				background-color: black;
			}
		}

	}

}

}
































.info {
	background-color: #ffffff;
	margin-top:6.25rem;
	padding:6.625rem 4.84rem 5rem 4.84rem;
	border-radius: 0.5625rem;
	margin-bottom: 3rem;

	&__section-1 {
		display: flex;
		flex-direction: column;
		align-items: center;

		.section-1__h2 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			text-transform: capitalize;
			font-size:3rem;
			letter-spacing: 0.025rem;
			// margin-top: 6.625rem;

		}

		.section-1__img {
			margin-top: 0.5rem;
			background: url('../img/underline.png') no-repeat;
			width: 13.3125rem;
			height: 1.0625rem;
		}

		.section-1__p {
			display: inline-block;
			font-family:'Raleway' ,sans-serif;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.5rem;
			letter-spacing: 0.025rem;
			word-wrap: break-word;
			margin-top:0.5625rem;
			text-align: center;
			width: 34.731875rem;
			height:3rem;
		}
	}

	&__section-2 {

		margin-top: 4.5625rem;

		.section-center{

			.section-2__list {
				list-style: none;
				display: flex;
				flex-wrap:wrap;
			// width: 66.0625rem;
			align-items: flex-start;

			.list__item {

				position: relative;
				background-color:#e10011;

				p {
					font-family: 'Roboto',sans-serif;
					font-weight: 900;
					text-transform: capitalize;
					font-size: 1.875rem;
					letter-spacing: 0.025rem;
					position: absolute;
					color:#ffffff;
					top: 16.3125rem;
					left:2.375rem;

					span {
						border-bottom:0.3125rem solid white;
						padding-bottom: 0.8125rem;
					}

				}
				.item__link {
					display: block;
					font-size: 0;

					&:hover {
						opacity: 0;
					}

					.link__img {
						position: relative;				
					}

				}
			}
			


			.list__item:first-child,.list__item:nth-child(3){
				margin-left: 0;
			}

			.list__item {
				margin-left: 2.3125rem;
			}

			.list__item:nth-child(n+3) {
				margin-top: 2.25rem;
			}

			.list__item:last-child {
				margin-left: 2.125rem;
			}

		}
	}
}
}


