* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

html,body {
	min-height: 100vh;
}


body {
	font-size: 100%;
	background-color: #eeeeee;
    // background-color: green;
    font-family: 'Lato', sans-serif;
}



.container {
	max-width: 1212px;
	width: 100%;
	margin: auto;
	// background-color: yellow;
	height: 70vh;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 3.5rem;
	line-height: 1.6875rem;	
	letter-spacing: 0.025rem;

	a {
		text-decoration: none;
		color:black;

		&:hover {
			color:#e10011;
		}
	}

	&__logo {
		font-family: 'Roboto',sans-serif;
		font-weight: 900;
		font-size: 3rem;
		
	}

	&__nav {

		margin-top:0.25rem;

		.nav__list {

			margin-right: 2.3125rem;
		}

		> * {
			display: inline-block;

			.list__item{
				display: inline-block;
				font-family: 'Roboto',sans-serif;
				font-weight: 400;
				font-size: 1.125rem;
				text-transform:capitalize;
			}

			.list__item:first-child {
				margin-right: 2.875rem;
			}
		}
	}
}


.main {
	display: flex;
	padding-top:6.4375rem;
	position: relative;


	&__section-1 {
		width: 39.4375rem;
		// background-color: cyan;
		word-wrap: break-word;

		.section-1__h1 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			font-size: 9.375rem;
			text-transform: uppercase;
			line-height: 9.375rem;
			letter-spacing: 0.025rem;
			margin:0;
			margin-left: -0.3125rem;


			span {
				margin-left:6.5625rem;
			}
		}

		.section-1__p {
			font-family: 'Roboto',sans-serif;
			font-weight: 300;
			font-size: 1.5rem;
			line-height: 2.25rem;
			letter-spacing: 0.025rem;
			margin-top: 1.6875rem;
			margin-left: 2.6875rem;

			span:first-child {
				display: block;
				margin-left: 1.625rem;
			}
			span:last-child {
				display: block;
				margin-left: 3.375rem;
			}

		}

		.section-1__link {
			text-decoration: none;
			text-transform: capitalize;
			display: inline-block;
			font-family: 'Roboto',sans-serif;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2.25rem;
			letter-spacing: 0.025rem;
			color:#e10011;
			margin-top: 0.875rem;
			margin-left: 29.125rem;	

			&:hover {
				opacity: 0.5;
				color:red;
			}
		}

	}

	&__section-2 {
		margin-left: 5.9375rem;
	}

	&__slider-nav {

		.nav__list {
			list-style: none;
			display: flex;
			position:absolute;
			top:41.8125rem;
			right:36.125rem;

			.list__item {
				margin-left: 10px;
			}

			.list__item:first-child {
				margin-left: 0;
			}

		}

	}
}

.info {
	background-color: #ffffff;
	margin-top:11.875rem;
	height:75.3125rem;
	margin-bottom: 3.75rem;

	&__section-1 {
		display: flex;
		flex-direction: column;
		align-items: center;

		.section-1__h2 {
			font-family: 'Raleway',sans-serif;
			font-weight: 900;
			text-transform: capitalize;
			font-size:3rem;
			letter-spacing: 0.025rem;
			margin-top: 6.625rem;

		}

		.section-1__img {
			margin-top: 0.5rem;
		}

		.section-1__p {
			display: inline-block;
			font-family:'Raleway' ,sans-serif;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.5rem;
			letter-spacing: 0.025rem;
			width: 36.5625rem;
			word-wrap: break-word;
			margin-top:0.4375rem;
			padding:0 0.8125rem;

			span {
				display: block;
				padding: 0 0.75rem;
			}

		}
	}

	&__section-2 {

		margin-top: 4.5625rem;

		.section-2__list {
			list-style: none;
			display: flex;
			flex-wrap:wrap;
			width: 66.0625rem;
			margin:auto;
			align-items: flex-start;

			.list__item {

				.item__link {
					display: block;
					height: 24.1875rem;
					background-color:#e10011;
					position: relative;

					.link__img {
						position: relative;
						z-index: 3;

						&:hover {
							opacity: 0;
						}
					}


					.link__img_hover {
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;

						p {
							font-family: 'Roboto',sans-serif;
							font-weight: 900;
							text-transform: capitalize;
							font-size: 1.875rem;
							letter-spacing: 0.025rem;
							position: absolute;
							color:#ffffff;
							top: 16.3125rem;
							left:2.375rem;

						}

					}
				}
			}
			


			.list__item:first-child,.list__item:nth-child(3){
				margin-left: 0;
			}

			.list__item {
				margin-left: 2.3125rem;
			}

			.list__item:nth-child(n+3) {
				margin-top: 2.25rem;
			}

			.list__item:last-child {
				margin-left: 2.125rem;
			}

		}
	}
}


