* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0;
	margin:0;
	font-size: 100%;
	font-family: Arial, sans-serif;
}

html, body {
	height: 100%; 
	color:white;
	background-color: rgb(241,241,241);
}

.page {
	max-width: 1600px;
	margin: auto;
}

.search__header {
	width:100%;
	min-height: 9rem;
	/* padding-top: 3rem; */

}

.search__header_form {

	width:80%;
	height: 10rem;
	margin:auto;
	font-size: 0;
	position: relative;
}

.search__header_form [type]{
	display:inline-block;
	font-size: 7rem;
	vertical-align: middle;
	border:none;
	height: 80%;	
}

.search__header_form input{
	width:88%; 
	color:#ec5a62;
	font-weight: bold;
	background-color: rgb(241,241,241);
	outline:none;
	position: absolute;
	left: 0;
	bottom: 0;
	}

.search__header_form input::placeholder{
	color:#c2c2c2; 
	font-weight: bold;
}



.search__header_form button{
	width: 8rem;
	background: transparent url(../img/magnifier.svg) no-repeat center center;	
	right: 0;
	bottom: 0;
	position: absolute;
	transition: all .2s ease-in;
}

.search__header_form button:hover{
	width:9rem;
	height: 90%;
	bottom:0;
	right: 0;
	cursor: pointer;
}



.search__main {
	width: 100%;
	margin:auto;
	font-size: 0;
	color:#c2c2c2;
}

.container {
	width:80%;
	margin:auto;

}

.search__main_col {
	display: inline-block;
	margin-top:4%;
	width:29%;
	margin-right:6.5%;
	font-size:1rem;
}


.search__main_col:nth-child(3) {
	margin-right:0;
}


.search__main_col_list {
	list-style: none;
	width: 100%;
	margin-top:.8rem;
}

.search__main_col_list_item {
	display: block;
	margin-bottom: .5rem; 
}

.search__main_col_list img {
	display: inline-block;
	position:relative;
	top:.13rem;
}

.search__main_col:nth-child(1) img {
	border-radius: 50%;
}

.search__main_col_list_item_link {
	text-decoration: none;
	display:block;
	position: relative;
	padding: .4rem;
	background-color: rgba(118,117,128,0.05);
	color:#c2c2c2;
	border-radius: 8px;
}

.search__main_col_list_item_link:hover{
	color:#ec5a62; 
	background-color: rgba(118,117,128,0.1);
}

.search__main_col_list_item_link span {
	display: inline-block;
	position:relative;
	bottom:1rem;
	left:1rem;
	font-size: .9rem;
	font-weight: bold;

}