* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0;
	margin:0;
	font-size: 100%;
	font-family: Arial, sans-serif;
}

html, body {
	height: 100%; 
	color:white;
	background-color: rgb(241,241,241);
}

.page {
	max-width: 1140px;
	margin: auto;
	width: 100%;
}

.search__header {
	width:100%;
	min-height: 9rem;
	padding-top: 3rem; 

}

.search__header_form {
	width:100%;
	margin:auto;
	font-size: 0;
}

.search__header_form [type]{
	display:inline-block;
	font-size: 7rem;
	height: 171px;
	vertical-align: top;
	border:none;
}

.search__header_form input{
	width:85%; 
	color:#ec5a62;
	font-weight: bold;
	background-color: rgb(241,241,241);
	outline:none;
	}

.search__header_form input::placeholder{
	color:#c2c2c2; 
	font-weight: bold;
}



.search__header_form button{
	width: 15%;
	background: transparent url(../img/magnifier.svg) no-repeat center center;	
	transition: all .2s ease-in;
	background-size: 55%;

}

.search__header_form button:hover{
	background-size:65%;
	cursor: pointer;
}


.search__main {
	width: 100%;
	margin:auto;
	font-size: 0;
	color:#c2c2c2;
	margin-top:4%;
}



.search__main_col {
	display: inline-block;
	width:29%;
	margin-right:6.5%;
	font-size:1rem;
}


.search__main_col:nth-child(3) {
	margin-right:0;
}


.search__main_col_list {
	list-style: none;
	width: 100%;
	margin-top:.8rem;
}

.search__main_col_list_item {
	display: block;
	margin-bottom: .5rem; 
}

.search__main_col_list img {
	display: inline-block;
	vertical-align: middle;
}

.search__main_col:nth-child(1) img {
	border-radius: 50%;

}

.search__main_col_list_item_link {
	text-decoration: none;
	display:block;
	background-color: rgba(118,117,128,0.05);
	color:#c2c2c2;
	border-radius: 8px;
	line-height: 3rem;
	padding: .3rem 0;
	padding-left: .9rem;
}

.search__main_col_list_item_link:hover{
	color:#ec5a62; 
	background-color: rgba(118,117,128,0.1);
}

.search__main_col_list_item_link_content {
	 display: inline-block;
  vertical-align: middle;
}

.search__main_col_list_item_link span {
	font-size: .9rem;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-left: .8rem;
}