*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Lato', sans-serif; 
    font-size: 100%;

    background-color: #eee;
}

.container
{
    width: 100%;
    max-width: 1212px;
    margin: auto;
}

.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 2.8125rem;

    letter-spacing: .025rem; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header a
{
    text-decoration: none;

    color: black;
}
.header a:hover
{
    color: #e10011;
}
.header__logo
{
    font-family: 'Roboto',sans-serif;
    font-size: 3rem; 
    font-weight: 900;
}
.header__nav .nav__list
{
    margin-right: 2.3125rem;
}
.header__nav > *
{
    display: inline-block;
}
.header__nav > * .list__item
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.125rem;
    font-weight: 400;

    display: inline-block;

    text-transform: capitalize;
}
.header__nav > * .list__item:first-child
{
    margin-right: 2.875rem;
}

.main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: 5.5rem;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main .sections
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main .sections .section-1
{
    width: 50%;
}
.main .sections .section-1 .section-1__h1
{
    font-family: 'Raleway',sans-serif;
    font-size: 9.375rem;
    font-weight: 900;
    line-height: 9.375rem;

    margin: 0;
    margin-left: -.3125rem; 

    letter-spacing: .025rem;
    text-transform: uppercase;
}
.main .sections .section-1 .section-1__h1 span
{
    margin-left: 6.5625rem;
}
.main .sections .section-1 .section-1__p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;

    margin-top: 1.8125rem;
    margin-bottom: .9375rem; 
    margin-left: 2.625rem;

    letter-spacing: .025rem;
}
.main .sections .section-1 .section-1__p span:first-child
{
    margin-left: 1.5625rem;
}
.main .sections .section-1 .section-1__p span:last-child
{
    margin-left: 3.25rem;
}
.main .sections .section-1 .section-1__link
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;

    margin-left: 29.0625rem; 

    text-decoration: none;
    letter-spacing: .025rem;
    text-transform: capitalize;

    color: #e10011;
}
.main .sections .section-1 .section-1__link:hover
{
    opacity: .5;
    color: red;
}
.main .sections .section-2
{
    width: 50%;
}
.main .sections .section-2 img
{
    display: block;

    margin: auto;
}
.main__slider-nav
{
    margin-top: 4.8125rem;
}
.main__slider-nav .nav__list
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 

    list-style: none;
}
.main__slider-nav .nav__list .list__item
{
    margin-left: 10px;
}
.main__slider-nav .nav__list .list__item:first-child
{
    margin-left: 0;
}

.info
{
    margin-top: 6.25rem;
    margin-bottom: 3rem; 
    padding-top: 6.625rem;
    padding-bottom: 5rem;

    border-radius: .5625rem;
    background-color: #fff;
}
.info__section-1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.info__section-1 .section-1__h2
{
    font-family: 'Raleway',sans-serif;
    font-size: 3rem;
    font-weight: 900;

    letter-spacing: .025rem; 
    text-transform: capitalize;
}
.info__section-1 .section-1__img
{
    width: 13.3125rem;
    height: 1.0625rem; 
    margin-top: .5rem;

    background: url('../img/underline.png') no-repeat;
}
.info__section-1 .section-1__p
{
    font-family: 'Raleway' ,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;

    display: inline-block;

    margin-top: .5625rem; 

    letter-spacing: .025rem;
    word-wrap: break-word;
}
.info__section-1 .section-1__p span
{
    display: block;

    padding: 0 .75rem;
}
.info__section-2
{
    margin-top: 4.5625rem;
}
.info__section-2 .section-center
{
    margin-left: 5rem;
}
.info__section-2 .section-center .section-2__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.info__section-2 .section-center .section-2__list .list__item .item__link
{
    font-size: 0;

    position: relative; 

    display: block;

    background-color: #e10011;
}
.info__section-2 .section-center .section-2__list .list__item .item__link p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.875rem;
    font-weight: 900;

    position: absolute;
    top: 16.3125rem;
    left: 2.375rem; 

    letter-spacing: .025rem;
    text-transform: capitalize;

    color: #fff;
}
.info__section-2 .section-center .section-2__list .list__item .item__link p span
{
    padding-bottom: .8125rem; 

    border-bottom: .3125rem solid white;
}
.info__section-2 .section-center .section-2__list .list__item .item__link .link__img
{
    position: relative;
}
.info__section-2 .section-center .section-2__list .list__item .item__link .link__img:hover
{
    opacity: 0;
}
.info__section-2 .section-center .section-2__list .list__item:first-child,
.info__section-2 .section-center .section-2__list .list__item:nth-child(3)
{
    margin-left: 0;
}
.info__section-2 .section-center .section-2__list .list__item
{
    margin-left: 2.3125rem;
}
.info__section-2 .section-center .section-2__list .list__item:nth-child(n+3)
{
    margin-top: 2.25rem;
}
.info__section-2 .section-center .section-2__list .list__item:last-child
{
    margin-left: 2.125rem;
}
