*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Lato', sans-serif; 
    font-size: 100%;

    background-color: #eee;
}

.container
{
    width: 100%;
    max-width: 1212px;
    height: 70vh; 
    margin: auto;
}

.header
{
    line-height: 1.6875rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 3.5rem;

    letter-spacing: .025rem; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header a
{
    text-decoration: none;

    color: black;
}
.header a:hover
{
    color: #e10011;
}
.header__logo
{
    font-family: 'Roboto',sans-serif;
    font-size: 3rem; 
    font-weight: 900;
}
.header__nav
{
    margin-top: .25rem;
}
.header__nav .nav__list
{
    margin-right: 2.3125rem;
}
.header__nav > *
{
    display: inline-block;
}
.header__nav > * .list__item
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.125rem;
    font-weight: 400;

    display: inline-block;

    text-transform: capitalize;
}
.header__nav > * .list__item:first-child
{
    margin-right: 2.875rem;
}

.main
{
    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 6.4375rem;
}
.main__section-1
{
    width: 39.4375rem;

    word-wrap: break-word;
}
.main__section-1 .section-1__h1
{
    font-family: 'Raleway',sans-serif;
    font-size: 9.375rem;
    font-weight: 900;
    line-height: 9.375rem;

    margin: 0;
    margin-left: -.3125rem; 

    letter-spacing: .025rem;
    text-transform: uppercase;
}
.main__section-1 .section-1__h1 span
{
    margin-left: 6.5625rem;
}
.main__section-1 .section-1__p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;

    margin-top: 1.6875rem;
    margin-left: 2.6875rem; 

    letter-spacing: .025rem;
}
.main__section-1 .section-1__p span:first-child
{
    display: block;

    margin-left: 1.625rem;
}
.main__section-1 .section-1__p span:last-child
{
    display: block;

    margin-left: 3.375rem;
}
.main__section-1 .section-1__link
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;

    display: inline-block;

    margin-top: .875rem;
    margin-left: 29.125rem; 

    text-decoration: none;
    letter-spacing: .025rem;
    text-transform: capitalize;

    color: #e10011;
}
.main__section-1 .section-1__link:hover
{
    opacity: .5;
    color: red;
}
.main__section-2
{
    margin-left: 5.9375rem;
}
.main__slider-nav .nav__list
{
    position: absolute;
    top: 41.8125rem;
    right: 36.125rem; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;
}
.main__slider-nav .nav__list .list__item
{
    margin-left: 10px;
}
.main__slider-nav .nav__list .list__item:first-child
{
    margin-left: 0;
}

.info
{
    height: 75.3125rem;
    margin-top: 11.875rem;
    margin-bottom: 3.75rem; 

    background-color: #fff;
}
.info__section-1
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.info__section-1 .section-1__h2
{
    font-family: 'Raleway',sans-serif;
    font-size: 3rem;
    font-weight: 900;

    margin-top: 6.625rem; 

    letter-spacing: .025rem;
    text-transform: capitalize;
}
.info__section-1 .section-1__img
{
    margin-top: .5rem;
}
.info__section-1 .section-1__p
{
    font-family: 'Raleway' ,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;

    display: inline-block;

    width: 36.5625rem;
    margin-top: .4375rem;
    padding: 0 .8125rem; 

    letter-spacing: .025rem;
    word-wrap: break-word;
}
.info__section-1 .section-1__p span
{
    display: block;

    padding: 0 .75rem;
}
.info__section-2
{
    margin-top: 4.5625rem;
}
.info__section-2 .section-2__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 66.0625rem;
    margin: auto;

    list-style: none;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.info__section-2 .section-2__list .list__item .item__link
{
    position: relative; 

    display: block;

    height: 24.1875rem;

    background-color: #e10011;
}
.info__section-2 .section-2__list .list__item .item__link .link__img
{
    position: relative;
    z-index: 3;
}
.info__section-2 .section-2__list .list__item .item__link .link__img:hover
{
    opacity: 0;
}
.info__section-2 .section-2__list .list__item .item__link .link__img_hover
{
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;
}
.info__section-2 .section-2__list .list__item .item__link .link__img_hover p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.875rem;
    font-weight: 900;

    position: absolute;
    top: 16.3125rem;
    left: 2.375rem; 

    letter-spacing: .025rem;
    text-transform: capitalize;

    color: #fff;
}
.info__section-2 .section-2__list .list__item:first-child,
.info__section-2 .section-2__list .list__item:nth-child(3)
{
    margin-left: 0;
}
.info__section-2 .section-2__list .list__item
{
    margin-left: 2.3125rem;
}
.info__section-2 .section-2__list .list__item:nth-child(n+3)
{
    margin-top: 2.25rem;
}
.info__section-2 .section-2__list .list__item:last-child
{
    margin-left: 2.125rem;
}
