@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.eot"), url("../fonts/aleo/aleo-regular-webfont.woff"), url("../fonts/aleo/aleo-regular-webfont.woff2"), url("../fonts/aleo/aleo-regular-webfont.ttf"), url("../fonts/aleo/aleo-regular-webfont.svg");
}

.first-screen {
	background-image: url("../img/header-bg.png");
}

.choose {
	background-image: url("../img/choose-bg.png");
}

.travel-first {
	background-image: url("../img/house.png");
}

.travel-last {
	background-image: url("../img/rocks.png");
}

.testimonials {
	background-image: url("../img/testimonials-bg.png");
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	padding: 15px;
}

.first-screen {
	background-repeat: no-repeat;
	background-color: #0470bc;
	background-size: cover;
	color: #fff;
}
.first-screen__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 24%;
}
.first-screen__heading {
	margin-bottom: 52px;
}
.first-screen__form {
	margin-bottom: 120px;
}

.container {
	width: 100%;
	max-width: 1110px;
	margin: auto;
}

.heading__title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.heading__subtitle {
	font-weight: 400;
	font-size: 22px;
	letter-spacing: .31rem;
	font-family: "Josefin Sans", sans-serif;
}

.first-screen__scroll {
	font-size: 14px;
	line-height: 26px;
	letter-spacing: .2rem;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	position: relative;
}
.first-screen__scroll::after {
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	right: 50%;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg) translateX(50%);
	        transform: rotate(45deg) translateX(50%);
}

.first-screen__form {
	padding: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	width: 58.6%;
}

.form__text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: .2rem;
	padding: 14px 0;
	width: 77.7%;
	text-align: center;
	border: none;
	color: #999;
}

.form__button {
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	padding: 14px 16px 14px 0;
	letter-spacing: .1rem;
	width: 22.3%;
	background-color: #5474fd;
	color: #fff;
	border: none;
	position: relative;
}
.form__button::after {
	content: "";
	background: url("../img/search-icon.svg") no-repeat center;
	height: 20px;
	width: 20px;
	right: 15px;
	-webkit-transform: translateY(16%);
	        transform: translateY(16%);
	position: absolute;
}

.choose {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;
	min-height: 100vh;
}
.choose .container-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 28px 0 32px 0;
}
.choose__header {
	background-color: #5474fd;
	margin-bottom: 120px;
}
.choose__logo {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: .1rem;
	text-decoration: none;
	color: #fff;
	display: block;
}
.choose__navlist {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.choose__item {
	margin-right: 40px;
}
.choose__item:last-child {
	margin-right: 0;
}
.choose__link {
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

.container-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.description {
	width: 54%;
	padding-top: 85px;
}
.description__title {
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 36px;
	color: #fff;
	margin-bottom: 66px;
}
.description__text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .1rem;
	color: #e8e8e8;
	margin-bottom: 48px;
	line-height: 26px;
}
.description .button {
	padding: 22px 36px;
	color: #fff;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .075rem;
	border: none;
	text-decoration: none;
}

.photos {
	width: 40%;
}
.photos .padding-hack {
	position: relative;
	padding-top: 49.6%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: 0;
	width: 78.9%;
}
.photos .padding-hack > .img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.photos .photo-top {
	margin-bottom: 5px;
}
.photos .photo-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.icons {
	background-color: #333;
}
.icons .text {
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 36px;
	color: #fff;
	line-height: 26px;
}
.icons .container {
	max-width: 980px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 98px 0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.icons .dv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.icons .dv .img {
	display: block;
	height: 58px;
	width: 58px;
	margin-bottom: 30px;
}
.icons .search .img {
	background: url("../img/search.png") no-repeat center;
}
.icons .check .img {
	background: url("../img/check.png") no-repeat center;
}
.icons .like .img {
	background: url("../img/like.png") no-repeat center;
}

.travel-first {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;
}
.travel-first .subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	letter-spacing: .075rem;
	margin-bottom: 32px;
}
.travel-first .title {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	margin-bottom: 30px;
}
.travel-first .text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 50px;
}
.travel-first .description {
	width: 47%;
	padding: 50px 30px;
	display: inline-block;
	background: rgba(38, 36, 38, .9);
}
.travel-first .button {
	padding: 22px 61.6px;
	display: inline-block;
}
.travel-first .container {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 100px;
}

.travel-last {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;
}
.travel-last .subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	letter-spacing: .075rem;
	margin-bottom: 32px;
}
.travel-last .title {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	margin-bottom: 30px;
}
.travel-last .text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 50px;
}
.travel-last .description {
	width: 47%;
	padding: 50px 30px;
	display: inline-block;
	background: rgba(38, 36, 38, .9);
}
.travel-last .button {
	padding: 22px 61.6px;
	display: inline-block;
}
.travel-last .container {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 100px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.testimonials {
	background-repeat: no-repeat;
	background-color: #3c3d3e;
	background-size: cover;
}
.testimonials .description {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 0;
}
.testimonials .padding-hack {
	position: relative;
	padding-top: 25.6%;
	width: 100%;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: 0;
	width: 40.1%;
}
.testimonials .padding-hack > .img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.testimonials .photo-text {
	width: 59.9%;
	padding: 50px 16px;
	background-color: #333;
}
.testimonials .subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	margin-bottom: 48px;
}
.testimonials .title {
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	font-size: 36px;
	color: #fff;
	margin-bottom: 85px;
}
.testimonials .text-quote {
	line-height: 0;
}
.testimonials .text {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
}
.testimonials .container {
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 120px;
}

.footer {
	background-color: #232323;
}
.footer .container {
	padding: 120px 0 50px 0;
	max-width: 163px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.footer .title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: .14rem;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;
}
.footer .subtitle {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .3px;
	font-family: "Josefin Sans", sans-serif;
	color: #fff;
}
