














<%- include('preloader'); -%>
<%- include('cursor'); -%>
<%- include('menu-main'); -%>
<!-- <div class="testpage">
</div> -->







<div id="fullpage">

	<div class="section StoronnimV-welcome-section">
		<div id="video" data-vide-bg="img/video/background">
			<a class="StoronnimV-welcome-section__logo" href="#welcome">Стороннiм<span class="StoronnimV-welcome-section__space-beetwen-logo">В.</span>
			</a>
			<div class="StoronnimV-welcome-section__scroll-div">
				<span class="StoronnimV-welcome-section__scroll-text">Перейти далі</span>
			</div>
		</div>
	</div>

	<!-- this -->

	<div class="main-page section StoronnimV-about-section">	
		<div class="StoronnimV-about-section__overlay"></div>
		<div id="canvas"></div>
		<div id="fullwidth-image">
			<img alt="main img with visual effect" data-sampler="displacedImage" src="img/about.jpg" />
			<div class="container">
				<div class="row StoronnimV-about-section__row">
					<div class="col-12 StoronnimV-about-section__head">
						<p class="StoronnimV-about-section__heading">ПРО ГУРТ</p>
					</div>
					<div class="col-12 StoronnimV-about-section__fluid">
						<p class="StoronnimV-about-section__name">СТОРОННІМ В</p>
						<p class="StoronnimV-about-section__content">Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. Історія груту історія гурту учторія гурту. </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- this -->

	<div class="section StoronnimV-news-section">
		<div class="container">
			<div class="row StoronnimV-news-section__news-wrap">
				<div class="col-md-10 col-lg-6 StoronnimV-news-section__news">
					<div class="StoronnimV-news-section__news-content">
						<div class="StoronnimV-news-section__text-div">
							<div class="StoronnimV-news-section__wrap-main-text">
								<a href="#" class="StoronnimV-news-section__heading">Названiе новости<!--  Названiе новостi Названiе новостi Названiе новостi Названiе новостi Названiе --></a>
								<p class="StoronnimV-news-section__description">Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний Дополнiтельний текстД ополнiтельний текст</p>
							</div>
							<div class="StoronnimV-news-section__news-footer">
								<a href="#" class="StoronnimV-news-section__like">120</a>
								<a href="#" class="StoronnimV-news-section__read-more">Дізнатися більше</a>
							</div>
						</div>
					</div>
					<div class="StoronnimV-news-section__news-date-div">
						<span class="StoronnimV-news-section__month">ИЮН</span>
						<span class="StoronnimV-news-section__day">12</span>
					</div>
				</div>
				<div class="col-md-10 col-lg-6 StoronnimV-news-section__news">
					<div class="StoronnimV-news-section__news-content">
						<div class="StoronnimV-news-section__text-div">
							<div class="StoronnimV-news-section__wrap-main-text">
								<a href="#" class="StoronnimV-news-section__heading">Названiе новости<!--  Названiе новостi Названiе новостi Названiе новостi Названiе новостi Названiе --></a>
								<p class="StoronnimV-news-section__description">Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний Дополнiтельний текстД ополнiтельний текст</p>
							</div>
							<div class="StoronnimV-news-section__news-footer">
								<a href="#" class="StoronnimV-news-section__like">120</a>
								<a href="#" class="StoronnimV-news-section__read-more">Дізнатися більше</a>
							</div>
						</div>
					</div>

					<div class="StoronnimV-news-section__news-date-div">
						<span class="StoronnimV-news-section__month">ИЮН</span>
						<span class="StoronnimV-news-section__day">12</span>
					</div>
				</div>

				<div class="col-md-10 col-lg-6 StoronnimV-news-section__news">
					<div class="StoronnimV-news-section__news-content">
						<div class="StoronnimV-news-section__text-div">
							<div class="StoronnimV-news-section__wrap-main-text">
								<a href="#" class="StoronnimV-news-section__heading">Названiе новости<!--  Названiе новостi Названiе новостi Названiе новостi Названiе новостi Названiе --></a>
								<p class="StoronnimV-news-section__description">Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний Дополнiтельний текстД ополнiтельний текст</p>
							</div>
							<div class="StoronnimV-news-section__news-footer">
								<a href="#" class="StoronnimV-news-section__like">120</a>
								<a href="#" class="StoronnimV-news-section__read-more">Дізнатися більше</a>
							</div>
						</div>
					</div>
					<div class="StoronnimV-news-section__news-date-div">
						<span class="StoronnimV-news-section__month">ИЮН</span>
						<span class="StoronnimV-news-section__day">12</span>
					</div>
				</div>
				<div class="col-md-10 col-lg-6 StoronnimV-news-section__news">
					<div class="StoronnimV-news-section__news-content">
						<div class="StoronnimV-news-section__text-div">
							<div class="StoronnimV-news-section__wrap-main-text">
								<a href="#" class="StoronnimV-news-section__heading">Названiе новости<!--  Названiе новостi Названiе новостi Названiе новостi Названiе новостi Названiе --></a>
								<p class="StoronnimV-news-section__description">Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний текст Дополнiтельний Дополнiтельний текстД ополнiтельний текст</p>
							</div>
							<div class="StoronnimV-news-section__news-footer">
								<a href="#" class="StoronnimV-news-section__like">120</a>
								<a href="#" class="StoronnimV-news-section__read-more">Дізнатися більше</a>
							</div>
						</div>
					</div>
					<div class="StoronnimV-news-section__news-date-div">
						<span class="StoronnimV-news-section__month">ИЮН</span>
						<span class="StoronnimV-news-section__day">12</span>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- this -->


	<section class="section StoronnimV-music-section">
		<div class="container">
			<div class="row StoronnimV-music-section__row">
				<div class="col-lg-12 StoronnimV-music-section__col-head">
					<h2 class="StoronnimV-music-section__heading">МУЗИКА</h2>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-music-section__col">
					<div class="StoronnimV-music-section__title"><span class="StoronnimV-music-section__name-of-albom">АЛЬБОМ АЛЬБОМ</span></div>
					<div class="StoronnimV-music-section__date"><span class="StoronnimV-music-section__name-of-song">ПІСНЯ ПІСНЯ</span></div>
					<a href="#" class="StoronnimV-music-section__listen">Слухати</a>
				</div>
			</div>
		</div>
	</section>

	<!-- this -->


	<div class="section StoronnimV-video-section">
		<div class="container">
			<div class="row StoronnimV-video-section__row">
				<div class="col-lg-12 StoronnimV-video-section__col-head">
					<h2 class="StoronnimV-video-section__heading">ВІДЕО</h2>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
				<div class="col-md-6 col-lg-4 StoronnimV-video-section__col">
					<div class="StoronnimV-video-section__title"><span class="StoronnimV-video-section__name-of-video">ВІДЕО ГУРТУ ВІДЕО</span></div>
					<a href="#" class="StoronnimV-video-section__watch">Дивитися</a>
				</div>
			</div>
		</div>
	</div>

	<!-- this -->


	<div class="section StoronnimV-gallery-section">
		<div class="slide" data-anchor="slide1">
			<div class="container">
				<div class="row StoronnimV-gallery-section__row">
					<h2 class="col-12 StoronnimV-gallery-section__head">ГАЛЕРЕЯ</h2>
					<a href="#" class="col-12 StoronnimV-gallery-section__img-wrapper">СТОРОННІМ В</a>
				</div>
			</div>
		</div>
		<div class="slide" data-anchor="slide2"><div class="container">
			<div class="row StoronnimV-gallery-section__row">
				<h2 class="col-12 StoronnimV-gallery-section__head">ГАЛЕРЕЯ</h2>
				<a href="#" class="col-12 StoronnimV-gallery-section__img-wrapper">СТОРОННІМ В</a>
			</div>
		</div></div>
		<div class="slide" data-anchor="slide3"><div class="container">
			<div class="row StoronnimV-gallery-section__row">
				<h2 class="col-12 StoronnimV-gallery-section__head">ГАЛЕРЕЯ</h2>
				<a href="#" class="col-12 StoronnimV-gallery-section__img-wrapper">СТОРОННІМ В</a>
			</div>
		</div></div>
		<div class="slide" data-anchor="slide4"><div class="container">
			<div class="row StoronnimV-gallery-section__row">
				<h2 class="col-12 StoronnimV-gallery-section__head">ГАЛЕРЕЯ</h2>
				<a href="#" class="col-12 StoronnimV-gallery-section__img-wrapper">СТОРОННІМ В</a>
			</div>
		</div></div>
	</div>

	<!-- this -->


	<div class="section StoronnimV-contact-section">
		<footer class="StoronnimV-contact-section__footer">
			<div class="container-fluid StoronnimV-contact-section__container-fluid">
				<span class="StoronnimV-contact-section__copyright">© 2019 Company. All right reserved.</span>
				<span class="StoronnimV-contact-section__name">Стороннім В</span>
				<ul class="StoronnimV-contact-section__list">
					<li class="StoronnimV-contact-section__list-item"><a target="_blank" href="https://soundcloud.com/apostolkremenchug"><img src="img/icons/soundcloud.svg" alt=""></a></li> 
					<li class="StoronnimV-contact-section__list-item"><a target="_blank" href="https://www.facebook.com/%D0%A1%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D0%BD%D1%96%D0%BC-%D0%92-377358619512485/"><img src="img/icons/facebook.svg" alt=""></a></li>
					<li class="StoronnimV-contact-section__list-item"><a target="_blank" href="https://www.youtube.com/"><img src="img/icons/youtube.svg" alt=""></a></li>
					<li class="StoronnimV-contact-section__list-item"><a target="_blank" href="#"><img src="img/icons/social/telegram.svg" alt=""></a></li>
				</ul>
			</div>
		</footer>
		<div id="map"></div>
		<div class="container StoronnimV-contact-section__container">
			<div class="row StoronnimV-contact-section__row">
				<div class="col-md-12 col-lg-8 StoronnimV-contact-section__col">
					<p class="StoronnimV-contact-section__head">Зв'яжіться з нами</p>
					<form action="#" class="StoronnimV-contact-section__form">
						<input type="email" class="StoronnimV-contact-section__email" placeholder="Ваша пошта ...">
						<textarea class="StoronnimV-contact-section__textarea" placeholder="Повідомлення ..."></textarea>
						<input type="submit" class="StoronnimV-contact-section__btn" value="Відправити">
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- this -->
</div>























<!-- <section class="main-page">
	<header class="main-page__header">
		<div class="container">
			<nav class="main-page__nav">
				<ul class="main-page__list">
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Новини</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Музика</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Відео</a></li>
					<li class="main-page__list-item main-page__logo-wrap"><a class="main-page__logo" href="">Стороннім В.</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Гурт</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Галерея</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Контакти</a></li>
				</ul>
			</nav>
		</div>
	</header>
</section> -->
