<header>
	<div class="nav-icon float-right">
		<span></span>
		<span></span>
		<span></span>
	</div>
</header>

<!-- Full Menu -->
<div class="full-menu">
	<div class="fullmenu-content">
		<ul class="page-menu">
			<li><a class="active" href="www.google.com">Новини</a></li>
			<li><a href="">Музика</a></li>
			<li><a href="">Відео</a></li>
			<li  class="page-menu__logo"><a href="">Стороннiм<span class="page-menu__space">В.</span></a></li>
			<li><a href="">Гурт</a></li>
			<li><a href="">Галерея</a></li>
			<li><a href="#">Контакти</a></li> 
			<li class="social">
				<a href="#"><img src="img/icons/social/facebook.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/youtube.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/instagram.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/twitter.svg" alt=""></a>
			</li>
		</ul>
	</div>
	<a href="#0" class="modal-close"></a>
</div>
<div class="cd-transition-layer visible opening"> 
	<div class="bg-layer"></div>
</div><!-- Ink Transition -->

<!-- <div class="wrapper">

	<section class="main">
		<div class="main-content">
			<span class="hello">Hello Everyone!</span>
			<h1 class="main-title">I'm Adil Ahmed and Creative<br>
			Interactive Developer & UX Designer.</h1>
			<div class="social">
				<a href="#"><img src="img/icons/social/twitter.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/instagram.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/dribbble.svg" alt=""></a>
				<a href="#"><img src="img/icons/social/send.svg" alt=""></a>
			</div>
		</div>


	</section>
</div>  -->

























 
<!-- <div id="fullpage">
	<section class="main-page section">
		
		<div id="canvas"></div>
		<div id="fullwidth-image">
			<img data-sampler="displacedImage" src="img/star-wars-wallpaper-hd-1080p.jpg" />
		</div>

	</section>
	<div class="section">
		section 2
	</div>
	<div class="section">
		section 3
	</div>
</div> -->






















<!-- <section class="main-page">
	<header class="main-page__header">
		<div class="container">
			<nav class="main-page__nav">
				<ul class="main-page__list">
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Новини</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Музика</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Відео</a></li>
					<li class="main-page__list-item main-page__logo-wrap"><a class="main-page__logo" href="">Стороннім В.</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Гурт</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Галерея</a></li>
					<li class="main-page__list-item"><a class="main-page__item-link" href="">Контакти</a></li>
				</ul>
			</nav>
		</div>
	</header>
</section> -->
