<header class="StoronnimV-header">
	<div class="container">
		<nav class="StoronnimV-header__nav">
			<ul id="menu" class="StoronnimV-header__list">
				<li data-menuanchor="news" class="StoronnimV-header__list-item"><a id="test" class="StoronnimV-header__item-link" href="#news">Новини</a></li>
				<li data-menuanchor="music" class="StoronnimV-header__list-item"><a class="StoronnimV-header__item-link" href="#music">Музика</a></li>
				<li data-menuanchor="media" class="StoronnimV-header__list-item"><a class="StoronnimV-header__item-link" href="#media">Вiдео</a></li>
				<li data-menuanchor="welcome" class="StoronnimV-header__list-item StoronnimV-header__logo-wrap"><a class="StoronnimV-header__logo" href="#welcome">Стороннiм<span class="StoronnimV-header__space">В.</a></li>
				<li data-menuanchor="about" class="StoronnimV-header__list-item"><a class="StoronnimV-header__item-link" href="#about">Гурт</a></li>
				<li data-menuanchor="gallery" class="StoronnimV-header__list-item"><a class="StoronnimV-header__item-link" href="#gallery">Галерея</a></li>
				<li data-menuanchor="contact" class="StoronnimV-header__list-item"><a class="StoronnimV-header__item-link" href="#contact">Контакти</a></li>
			</ul>
		</nav>
	</div>



	<div class="nav-menu">
		<div class="nav-icon">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="full-menu">
		<div class="fullmenu-content">
			<ul class="page-menu">
				<li data-menuanchor="news"><a class="StoronnimV-header__effect-menu-link" href="#news">Новини</a></li>
				<li data-menuanchor="music"><a class="StoronnimV-header__effect-menu-link" href="#music">Музика</a></li>
				<li data-menuanchor="media"><a class="StoronnimV-header__effect-menu-link" href="#media">Вiдео</a></li>
				<li data-menuanchor="welcome" class="page-menu__logo"><a class="StoronnimV-header__effect-menu-link" href="#welcome">Стороннiм<span class="page-menu__space">В.</span></a></li>
				<li data-menuanchor="about"><a class="StoronnimV-header__effect-menu-link" href="#about">Гурт</a></li>
				<li data-menuanchor="gallery"><a class="StoronnimV-header__effect-menu-link" href="#gallery">Галерея</a></li>
				<li data-menuanchor="contact"><a class="StoronnimV-header__effect-menu-link" href="#contact">Контакти</a></li> 
				<li class="social">
					<a target="_blank" href="https://www.facebook.com/%D0%A1%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D0%BD%D1%96%D0%BC-%D0%92-377358619512485/"><img src="img/icons/social/facebook.svg" alt=""></a>
					<a target="_blank" href="https://www.youtube.com/"><img src="img/icons/social/youtube.svg" alt=""></a>
					<a target="_blank" href="#"><img src="img/icons/social/instagram.svg" alt=""></a>
					<a target="_blank" href="#"><img src="img/icons/social/twitter.svg" alt=""></a>
				</li>
			</ul>
		</div>
		<a href="#0" class="modal-close"></a>
	</div>
	<div class="cd-transition-layer visible opening"> 
		<div class="bg-layer"></div>
	</div>
</header>