<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="js/preloader.js"></script>
<script src="js/cursor.js"></script>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery.vide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/fullpage.js"></script>
<script id="mouse-displacement-vs" type="x-shader/x-vertex">
	#ifdef GL_ES
	precision mediump float;
	#endif

	// default mandatory variables
	attribute vec3 aVertexPosition;
	attribute vec2 aTextureCoord;

	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;

	// custom variables
	varying vec3 vVertexPosition;
	varying vec2 vTextureCoord;

	varying vec2 vDistortionEffect;

	// custom uniforms
	uniform vec2 uMousePosition;

	void main() {
	vec3 vertexPosition = aVertexPosition;

	gl_Position = uPMatrix * uMVMatrix * vec4(vertexPosition, 1.0);

	// varyings
	vTextureCoord = aTextureCoord;
	vVertexPosition = vertexPosition;

	vDistortionEffect = uMousePosition - vec2(vertexPosition.x, vertexPosition.y);
}
</script>
<script id="mouse-displacement-fs" type="x-shader/x-fragment">
	#ifdef GL_ES
	precision mediump float;
	#endif

	varying vec2 vTextureCoord;
	varying vec2 vDistortionEffect;

	// custom uniforms
	uniform float uDisplacementStrength;

	// our textures samplers
	uniform sampler2D displacedImage;
	uniform sampler2D canvasTexture;

	void main( void ) {
	// our texture coords
	vec2 textureCoords = vTextureCoord;

	// get our canvas texture
	vec4 mouseEffect = texture2D(canvasTexture, textureCoords);

	// apply displacement to the texture coords based on our canvas texture RGB
	textureCoords  = textureCoords + mouseEffect .r * vDistortionEffect * (uDisplacementStrength / 10.0);

	// get our image texture
	vec4 finalColor = texture2D(displacedImage, textureCoords);

	// get a B&W version of our image texture
	vec4 finalBW = vec4(1.0);
	finalBW.rgb = vec3(finalColor.r * 0.3 + finalColor.g * 0.59 + finalColor.b * 0.11);

	// mix both texture based on our canvas texture
	finalColor = mix(finalColor, finalBW, mouseEffect.r);

	// that's all folks!
	gl_FragColor = finalColor;
}
</script>
<script src='https://cdn.rawgit.com/martinlaxenaire/curtainsjs/master/build/curtains.min.js'></script>
<script src="js/header-hover-effect.js"></script>
<script src="js/menu-main.js"></script>
<script src="js/mouse-effect-on-img.js"></script>
<!-- <script src="js/jq-padding-hack.js"></script> -->
<script src="js/script.js"></script>
<script src="js/google-map.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUJrqcHyekFRTYOpij3N37tVc2QPEG1Zg&callback=initMap">
</script>
</body>
</html>