@import "mixins";

@font-face { 
	font-family: 'Miso-Bold';  
	src: url('../fonts/miso-bold.otf'); 
}

@font-face { 
	font-family: 'Miso';  
	src: url('../fonts/miso.otf'); 
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	background: #fdde7e;
	display: flex;
	align-items: center;
}

.container {
	max-width: 1139px;
	width: 100%;
	margin: auto;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.section {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	align-items: center;
	// padding: 42px 109px; //142.75
	width:31.7%;
	border-radius: 6px;
	min-height: 438px;
}

.price {
	font-family: 'Miso-Bold';
	color:  #02995b;
	font-size: 70px;
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
}

.grow:nth-of-type(1){
	flex-grow: 0.7;
	width: 39.5%;
}

.grow:nth-of-type(2){
	flex-grow: 1.1;
}


@include padding-hack();

.color {
	font-family: 'Miso';
	color:  #333333;
	font-size: 56px;
	flex-grow: 0.6;
}



.text {
	font-family: 'Lato';
	color:  #333333;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
}

.price-main {
	flex-grow: 1;
	align-items: flex-start;
}

.color-main {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.grow-main {
	flex-grow: 0.8;
}

.section-main {
	padding: 32px 0;
}



