* {
	margin: 0;
	padding: 0;
}

section {
	min-height: 20vh;
	border-bottom: 1px solid black;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

.grey {
	background-color: grey;
}
