* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: white;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

header {
	background: #000 url("../img/hero-bg.jpg") no-repeat;
	background-size: cover;
	color: white;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.div {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.div-1 {
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 1rem;
}
.div-1 > * {
	display: block;
	font-size: 0;
}

.div-2 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.div-3 {
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	max-width: 50%;
}

.div-4 {
	display: block;
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
}
.div-4 button {
	padding: 5px 50px;
	color: white;
	background-image: linear-gradient(45deg, blue 50%, yellow 50%);
	border-style: none;
	border-radius: 5px;
	position: relative;
}
.div-4 button::after,
.div-4 button::before {
	content: "";
	position: absolute;
}
.div-4 button::after {
	min-height: 50px;
	min-width: 5px;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: yellow;
}
.div-4 button::before {
	width: 10px;
	height: 10px;
	bottom: -10%;
	right: 50%;
	-webkit-transform: translateX(50%) rotate(45deg);
	        transform: translateX(50%) rotate(45deg);
	border-right: 5px solid yellow;
	border-bottom: 5px solid yellow;
}

.section-1 {
	background-color: black;
}

.container-2 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.container-2 .logo {
	height: 20px;
	width: 60px;
	background-color: yellow;
}
.container-2 ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
}
.container-2 li {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-color: yellow;
}
.container-2 li:last-child {
	margin-right: 0;
}

.section-2 {
	background-color: aqua;
}
.section-2 .container-3 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.section-2 .container-3 .div {
	width: 50%;
	height: 500px;
}
.section-2 .container-3 .div-1 {
	background-color: blue;
}
.section-2 .container-3 .div-2 {
	background-color: yellow;
}

.section-3 {
	background-color: lightgreen;
}
.section-3 .container-4 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.section-3 .container-4 .dv {
	height: 500px;
}
.section-3 .container-4 .dv-1 {
	background-color: black;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
}
.section-3 .container-4 .dv-2 {
	background-color: yellow;
	-webkit-box-flex: 4;
	-ms-flex-positive: 4;
	flex-grow: 4;
}

.section-4 {
	background-color: yellow;
}
.section-4 .container-5 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 5%;
}
.section-4 .container-5 .dv {
	height: 500px;
	width: 55.6%;
	background-color: blue;
}

.section-5 {
	background-color: black;
}
.section-5 .container-6 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 5%;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.section-5 .container-6 .dv {
	height: 500px;
	width: 55.6%;
	background-color: blue;
}

.section-6 {
	background-color: grey;
}
.section-6 .container-7 {
	width: 100%;
	max-width: 200px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.section-7 {
	background-color: silver;
}
.section-7 .container-8 {
	width: 100%;
	max-width: 900px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 50px 0;
}
.section-7 .dv {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: white;
}
.section-7 .dv-2 {
	position: relative;
}
.section-7 .dv-2::before,
.section-7 .dv-2::after {
	content: "";
	position: absolute;
}
.section-7 .dv-2::before {
	width: 243px;
	height: 137px;
	top: -33px;
	right: 142px;
	border-top: 12px solid black;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.section-7 .dv-2::after {
	width: 243px;
	height: 137px;
	top: -33px;
	left: 142px;
	border-top: 12px solid black;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

.grey {
	background-color: grey;
}
