* {
	padding:0px;
	margin:0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

html,body{
	height:100%;
	font-size:100%;
	background-color: rgb(59,61,69);
}

.dinner__header{
	background-color: rgb(74,79,86);
	text-align:center;
	padding:1rem;

}

.dinner__header_logo,.dinner__header_sent{
	display:inline-block;
	color:rgb(235,126,127);
}

.dinner__header_logo{
	margin-bottom: .5rem;
}

.dinner__main_list{
	width:50%;
	margin:auto;
	list-style-type: none;
	margin-top: 3rem;
}

.dinner__main_list_item_label{
	display: block;
	line-height: 3rem;
	border:2px solid transparent;
	border-left: none;
	border-right: none;
	padding:0 1.2rem;
	cursor:pointer;
}

.dinner__main_list_item_label .first-sent{
	font-size:1.5rem;
	padding-right:1rem;
	color:white;
	display: inline-block;
	vertical-align: middle;
}

.dinner__main_list_item_label .second-sent{
	color:lightgrey;
	display: inline-block;
	vertical-align: middle;
}

.dinner__main_list_item:nth-child(even){
	background-color: rgb(122,117,147);
}

.dinner__main_list_item:nth-child(odd){
	background-color: rgb(136,131,158);
}

[type="checkbox"]{
	display: inline-block;
	margin-right:1.2rem;
	zoom:170%;
	vertical-align: middle;
	cursor: pointer;
}

[type="checkbox"]:checked ~ *{
	text-decoration: line-through;
	color:lightgrey;
}

.dinner__main_list_item_label:hover{
	border-color:white;
	background-color: rgb(98,94,119);
}

.dinner__main_list_item_label:active{
	background-color: #eb7e7f;
}

[type="submit"]{
	display: block;
	width:50%;
	margin:auto;
	margin-top:3rem;
	min-height: 4rem;
	background-color: rgb(74,79,86);
	outline: none;
	border: none;
	border-color: none;
	color:rgb(235,126,127);
	font-size: 1.4rem;
	font-weight: bold;
	cursor:pointer;
}

