.about {
	position: relative;
	background-color: $light-grey-color;

	.row {
		min-height: 100vh;
		align-items: center;
	}

	&__side {
		flex-basis: 50%;

		&:last-child {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
		}
	}

	.section-title {
		margin-bottom: 50px;
	}

	&__descr {
		margin: 0 0 30px;
		letter-spacing: 2px;
		color: $light-color;
		max-width: 80%;

		& > :first-child {
			margin-bottom: 20px;
		}
	}

	.img-wrapper {
		max-width: 350px;
		padding-top: 41%;

		&:first-child {
			margin-bottom: .3rem;
			align-self: flex-start;
		}
	}
}

