.footer {
	background-color: $dark-grey-color;
	padding: 100px 0 50px;

	.row {
		justify-content: center;
	}

	&__logo {
		margin-bottom: 30px;
	}

	&__title {
		font-weight: 700;
		font-size: px_to_rem(24px);
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__subtitle {
		letter-spacing: .4px;
		text-transform: capitalize;
	}

	&__content {
		width: 100%;
		max-width: 165px;
	}

	.social-menu {
		display: flex;
		width: 100%;
		justify-content: space-between;

		&__item {

		}

		&__link {
			display: block;
			
			&:hover {
				color: $light-blue-color;
			}
		}
	}

}