.how {
	background-color: $light-grey-color;
	padding: 70px 0;

	.row {
		justify-content: center;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-basis: 80%;
		align-items: center;

		&::before {
			content: "";
			display: block;
			width: 100%;
			max-width: 690px;
			height: 100px;
			background: url("#{$img-path}wave.svg") no-repeat;
			background-size: 100%;
			position: absolute;
			z-index: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			
		}
	}

	&__item {
		text-align: center;
		position: relative;
		z-index: 1;
	}

	.section-title {
		font-family: $main-font;
	}

	$size: 50px;

	svg {
		width: $size;
		height: $size;
		max-width: $size;
		max-height: $size;
	}

	.icon-wrapper {
		display: inline-block;
		border: 30px solid  $light-grey-color;
		border-bottom-width: 20px;
		background-color:  $light-grey-color;
		border-radius: 50%;

	}

	.search-icon {
		fill: $dark-blue-color;
	}

	.select-icon {
		fill: $select-icon;
	}

	.finger-icon {
		fill: $finger-icon;
	}


}