@function px_to_rem($target, $context: $font-size) {
  @if $target == 0 { @return 0 }
  @return $target / $context + 0rem;
}

@mixin logo {
	text-transform: uppercase;
	font-weight: 700;
}

@mixin transition($prop: all) {
	transition: $prop .2s ease;	
}

@mixin overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}