.testimonials {
	border-top: 1px solid $white;
	background-color: $light-grey-color;

	.row {
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.section-title {
		margin-bottom: 90px;
		font-family: $main-font;
	}

	&__card {
		display: flex;
	}

	&__content {
		max-width: 60%;
		background-color: $light-grey-color;
		padding: 50px;
	}

	&__author {
		display: block;
		text-transform: uppercase;
		font-size: px_to_rem(20px);
		margin-bottom: 25px;
	}

	&__text {
		position: relative;
		line-height: 1.5;
		text-indent: 2rem;

		&::before {
			$size: 20px;
			content: "";
			display: block;
			width: $size;
			height: $size;
			position: absolute;
			background: url("#{$img-path}double-quotes.svg") no-repeat;
			background-size: 100%;
			transform: rotate(180deg) translateY(50%);
		}
	}

	.img-wrapper {
		flex-grow: 4;
		max-width: 40%;
		padding-top: 26.4%;
	}
}