.travel-box {
	background-color: $house-bg;

	&.travel-bottom {
		background-color: $rock-bg;
		.row{
			justify-content: flex-end;	
		}
	}

	.row {
		align-items: center;
	}

	&__card {
		flex-basis: 50%;
		background-color: rgba($black, .8);
		padding: 50px 30px;
	}

	&__country {
		display: block;
		color: $light-color;
		font-size: px_to_rem(20px);
		text-transform: capitalize;
		margin-bottom: 30px;
	}

	&__title {
		font-size: px_to_rem(20px);
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__descr {
		line-height: 1.7;
		margin-bottom: 50px;
	}
}