@font-face { 
	font-family: 'Miso-Bold';  
	src: url('../img/font/miso-bold.otf'); 
}

@font-face { 
	font-family: 'Miso';  
	src: url('../img/font/miso.otf'); 
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0;
	margin:0;
	font-size: 100%;
}



html, body {
	height: 100%; 
	color:white;
}

body {
	background-color: rgb(252,222,126);
}

.page {
	max-width: 1240px;
	margin: auto;
	width: 100%;
	padding-top: 3rem;
}

main {
	width: 100%;
	height: 561px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.main__element {
	width: 379px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1.5rem 0;
	
}

.main__element h2 {
	font-size: 5rem;
	font-family: 'Miso-Bold', sans-serif;
	color:rgb(18,170,109);
}

.main__element .color {
	font-size: 4.3rem;
	font-family: 'Miso', sans-serif;
	font-weight: 100;
	color:rgb(49,49,49);
}

#element_1 {
	height: 497px;
}

#element_2 {
	align-self: stretch;
	padding:3.5rem 0;
}
#element_3 {
	height: 497px;
}

.sent {
	text-align: center;
	font-size: 1.9rem;
	font-family: 'Abel', sans-serif;
	color:rgb(76,76,76);
}