@font-face { 
	font-family: 'Miso-Bold';  
	src: url('../img/font/miso-bold.otf'); 
}

@font-face { 
	font-family: 'Miso';  
	src: url('../img/font/miso.otf'); 
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-size: 100%;
	padding-top:50px;
	background: #fdde7e;
	display: flex;
	align-items: center;
}

.container {
	max-width: 1139px;
	width: 100%;
	margin: auto;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.section {
	display: flex;
	flex-direction: column;
	background: #ffffff;
	align-items: center;
	padding: 42px 109px;
}

.price {
font-family: 'Miso-Bold';
color:  #02995b;
font-size: 70px;
line-height: 58px;
margin-bottom: 24px;
}

.cup {
	margin-bottom: 38px;
}

.color {
font-family: 'Miso';
color:  #333333;
font-size: 56px;
line-height: 42px;
margin-bottom: 40px;
}

.text {
font-family: 'Lato';
color:  #333333;
font-size: 20px;
font-weight: 300;
line-height: 26px;
text-align: center;
}

.section-2 {
	padding: 52px 109px;
}

.price-2 {
	margin-bottom: 44px;
}

.cup-2 {
	margin-bottom: 48px;
}