 <section class="main-page">
	<header class="main-page__header">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col">
					<nav class="main-page__nav">
						<ul class="main-page__list">
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Новини</a></li>
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Музика</a></li>
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Відео</a></li>
							<li class="main-page__list-item main-page__logo-wrap"><a class="main-page__logo" href="">Стороннім В.</a></li>
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Гурт</a></li>
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Галерея</a></li>
							<li class="main-page__list-item"><a class="main-page__item-link" href="">Контакти</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
</section>