//COLORS
$white:#ffffff;
$black:#000000;
$grey:#c1c1c1;
$green-color: #48bf72;
$first-screen-bg:#3c4955;

$light-grey: $grey;
$dark-text:$first-screen-bg;


//FONTS
$fat-font:'Big John';
$slim-font:'Slim Joe';

//SIZE
