<div class="container">
	<div class="row">
		<div class="col pt-4">
			<form action="" class="aditii-card-form">
				<label for="input" class="outer">
					<input type="text" id="input">
					<label for="input" class="inner">
						text <span>*</span>
					</label>
				</label>

				<span id="text"></span>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="product-card">
			
		</div>
	</div>
</div>



